<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :budget %><br>
    <%= f.text_field :budget %>
  </div>

  <% if @category.id %>
	  <div class="field">
    	<%= f.label :expenses %><br>
    	<%= f.text_field :expenses %>
  	</div>
	  <div class="field">
	    <%= f.label :surplus %><br>
	    <%= f.text_field :surplus %>
	  </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
